<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Quiz!</h1>
    <p>
      You have been added to the Quiz app by your instructor.<br>
    </p>
    <p><%= link_to "Sign up here!", new_user_path%></p>
  </body>
</html>
