/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Lobster);
 @import url(https://fonts.googleapis.com/css?family=Cabin);

$link-color: #FF5147;
$navbar-default-bg: #00A9BA;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$font-family-sans-serif: 'Cabin', sans-serif;
$font-size-base: 18px;
$brand-primary: #FF5147;

@import "bootstrap";

#sign-in {
	margin-left: 20px;
}

.navbar-brand {
	font-family:  'Lobster', cursive !important; font-weight: 700; font-size: 2em;
}

.navbar-toggle {
	background-color: white;
}

.icon-bar {
	background-color: white;
}
.list-group {
	width: 80% auto;
}

.btn-block {
	background-color: #FF5147;
}
